
body {
  background: #0f0f0f;
  color: #eee;
  text-align: center;
  padding: 20px;
  font-family: sans-serif;
}
textarea {
  width: 80%;
  height: 150px;
  margin-top: 20px;
}
button {
  margin-top: 10px;
  padding: 10px 30px;
  background: #444;
  color: white;
  border: none;
}
